<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="col-md-8 mx-auto">
        <div class="card card-body" style="margin-top: 250px;">
            <h3 class="text-dark font-weight-bold">Login</h3>
            <br>
            <form method="post" id="login">
                <div class="form-group">
                    <input type="text" class="username-input form-control" name="username" id="username-input"
                        placeholder="Username..." />
                    <br>

                    <input type="text" class="password-input form-control" name="password" id="password-input"
                        placeholder="Password..." />
                </div>
                <button id="butReg" type="submit" class="btn btn-success button" action="../calendar/login"
                    style="float:right;">Login
                </button>
            </form>
        </div>
    </div>
</body>

</html>