<!DOCTYPE html>
<html>
    <head>
        <mate charest="utf-8" />
        <title>Track Log</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 15px;
            }

            th {
                text-align: left;
            }
        </style>
    </head>
    <body>
        {{#if dateString}}
        <h3>Filter: {{dateString}}</h3>
        {{/if}}
        {{#if logs}}    
        <table>
            <tr>
                <th>Date</th>
                <th>Todo Content</th>
                <th>Username</th>
            </tr>
            {{#each logs}}
            <tr>
                <td>{{this.date}}</td>
                <td>{{this.content}}</td>
                <td>{{this.username}}</td>
            </tr>
            {{/each}}
        </table>
        <br>
        <h3>Number of logs: {{logs.length}}</h3>
        {{/if}}
        {{#else}}
        <h3>No logs</h3>
        {{/else}}
    </body>
</html>
